<div class="back-button">
  <a href="#channels">Back to Channels</a>
</div>
<h2><%= title %></h2>
<img src="<%= image_url %>" class="channel-image">
<div class="channel-description"><%= description %></div>
<div class="channel-website">
  <a href="<%= link %>">Website</a>
</div>
<div class="channel-copyright"><%= copyright %></div>
